@media screen and (max-width: 425px) {

    ul.header-list, .icon-phone, .contacts-phone {
        display: none;
    }

    .header-menu {
        display: flex;
        flex-direction: column;
    }

    .header-menu-line {
        width: 29px;
        height: 4px;
        margin-left: 10px;
        margin-bottom: 4px;
    }

    .menu-lines {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        margin-bottom: 35px;
        width: 40px;
    }

    .header-menu:hover > .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: white;
    }

    header {
        width: 100%;
        gap: 0;
        height: 90px;
        left: 0;
    }

    .header-title {
        font-size: 20px;
        line-height: 18px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-menu-contacts {
        display: flex;
        flex-wrap: wrap;
        width: 190px;
    }

    .header-menu-item {
        font-size: 24px;
    }

    .title-description {
        padding-top: 138px;
        width: 100%;
        margin-left: 4%;
    }

    .title-bold {
        font-size: 28px;
        line-height: 40px;
    }

    .title-medium {
        width: 95%;
    }

    .feedback-text {
        width: 90%;
        font-size: 15px;
    }

    .feedback {
        height: fit-content;
        width: 92%;
        margin: auto;
    }

    .getFeedback {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        gap: 20px;
    }

    .feedback-button {
        margin-bottom: 20px;
        width: fit-content;
        height: fit-content;
    }

    .development-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        align-self: start;
        margin-left: 4%;
    }

    .development-list-links {
        margin-top: 44px;
    }

    .description {
        margin-bottom: 0;
    }

    .industries-container {
        margin-left: 4%;
    }

    .industries-container-title {
        width: 100%;
        margin-right: 0;
    }

    .development-container-list {
        width: 85%;
        font-size: 14px;
    }

    .industries-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        gap: 20px;
        margin-bottom: 50px;
    }

    .industries-list-item-title {
        font-size: 14px;
    }

    footer {
        width: 100%;
    }

    .footer-medium {
        font-size: 14px;
        letter-spacing: -0.408px;
    }

    .footer-contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-center {
        margin-top: 17px;
        margin-bottom: 35px;
    }

    .icon-email, .contacts-email {
        display: none;
    }

    .footer-contacts-element {
        margin-bottom: 35px;
    }

    .description-animation {
        display: block;
        grid-template-columns: repeat(2, 55%);

    }

    .background-images {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        height: 550px;
        overflow: hidden;
    }

    .background-images img:nth-child(1) {
        width: 137px;
    }

    .background-images img:nth-child(2) {
        width: 137px;
    }
    .projects-container{
        margin-left: 4%;
    }
    .project-header-txt{
        width: 345px;
    }
    .project-list{
        gap: 50px;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }
    .projects-list-item{
        font-size: 14px;
    }
    .project-button{
        margin-left: 500px;
    }
    .project-list-items{
        width: 410px;
        display: grid;
        grid-template-columns: 30% 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .project-button{
        margin-left: 0%;
    }
    .project-phones{
        width: 350px;
        height: 200px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .project-name-description{
        width: 400px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.23999999463558197px;
        text-align: left;

    }
    .projects-examples{

    }
    .inform{
        display: flex;
        flex-direction: column;
    }
    .discuss-container{
        display: flex;
        flex-direction: column;
    }
    .margin{
        margin-left: 6%;
    }
    .discuss-form{
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 3%;
        height: 250px;
        width: 95%;
    }
    .discuss-form-label{
        width: 340px;
    }
    .form{
        display: flex;
        flex-direction: column;
    }
    .discuss-form-btn{
        margin: 0;
        margin-top: 25px;
        margin-left: 25%;
    }
    .discuss-txt{
        margin-bottom: 0;
    }
    .stages{
        display: flex;
        flex-direction: column;
    }
    .development-stages-container{
        margin-left: 4%;
    }
    .development-stages-item{
        width: 96%;
        margin-bottom: 16px;
    }
    .development-stages-title{
        width: 90%;
    }
    .dev-stages-item-txt{
        width: 80%;
    }
    .team-container{
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }
    .team-description{
        width: 95%;
        font-size: 14px;
    }
    .team-numbers{
        gap: 30px;
    }
    .team-photo{
        margin-top: 0px;
    }
    .team-info{
        margin-bottom: 40px;
        font-size: 14px;
        width: 90%;
    }
    .book-container{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
    }
    .book-title{
        width: 100%;
        margin-left: 4%;
    }
    .labels{
        display: flex;
        flex-direction: column;
    }
    .book-form{
        width: 330px;
        height: 380px;
        margin-left: 4%;
    }
    .book-form-btn{
        margin: 0;
        margin-top: 50px;
        margin-bottom: 37px;
        margin-left: 32px;
    }
    .book-photo{
        width: 280px;
        height: 420px;
        margin: 0;
        margin-top: 0px;
        margin-left: 30px;
    }
    .faq-columns{
        display: flex;
        flex-direction: column;
    }
    .faq-container{
        margin-left: 4%;
    }
    .faq-question{
        width: 100%;
    }
}