@import "./global.css";
@import "./fonts.css";
@import "./utils.css";


.header {
    font-weight: bold;
}

.header ul {
    display: inline-block;
}

.header ul li {
    display: inline;
    padding: 3px;
}

.header .header-contacts {
    margin-top: 15px;
    display: inline-block;
    float: right;
}

.btn {

}

.blockAboutDevelopment .description {
    display: inline-block;
    width: 25%;
}

.title-description .feedback form div {
    display: inline-flex;
}

.blockAboutDevelopment {
    position: relative;
}

.blockAboutDevelopment .dev-list {
    display: inline-block;
    width: 40%;
}

.blockAboutDevelopment .dev-list ul li {
    font-size: 30px;
    margin-bottom: 3px;
    list-style: none;
}

.IndustriesBlock .industries-list ul {
    columns: 3;
    list-style: none;
}

.portfolioBlock .company .btn {
    float: right;
}

.portfolioBlock .company ul {
    display: inline-block;
    padding-inline-start: 10px;
}

.portfolioBlock .company ul li {
    display: inline;
    margin-right: 30px;
}


.portfolioBlock .description {
    width: 40%;
}

.portfolioBlock .description ul {
    margin: 0;
    padding-inline-start: 0;
}

.portfolioBlock .description ul li {
    display: inline;
    list-style: none;
}

.portfolioBlock .description .stats {
    display: inline-block;
    width: 40%;
}

.discussBlock {
    position: relative;
}

.discussBlock .description {
    width: 40%;
    display: inline-block;
}

.discussBlock .formDiscussBlock {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    display: inline-block;
}


.DevStagesBlock .column {
    width: 40%;
    display: inline-block;
}

.teamBlock {
    width: 90%;
}

.teamBlock .description {
    width: 40%;
}

.teamBlock .tripleStat {
    display: inline-block;
    margin-right: 10%;
}

.getBookBlock h2 {
    width: 20%;
}

.faqBlock{
padding-bottom: 100px ;
}

.column-faq{
    float: left;
    width: 30%;
}

.footer .footerBlock {
    margin: 0 auto;
    width: fit-content;
}

.footer .footerBlock .footerElement {
    padding: 0 50px;
    display: inline-block;
}
.center{
    text-align:center;
}

